nav{
    background-color: black ;
    font-size: 20px;
    padding-left: 100px;
}
.navbar-brand{

    font-size: 40px !important;
}
a.wh{
    color: white !important;
}

.collapse{
    margin-left:500px ;
}

#footer{
    background-color: black;
}

.temp{
padding-top: 14%;
}
.imgh{
    background-image: url('./images/img2.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.listitem{
    margin-top: 15px;
    font-size: 27px;
}


  a.link1:hover{
    color: white !important ;
  }
  a.link1{
    color: yellow;
  }
  .temp .listitem a.link1:hover {
    color: yellow;
  }
  

